@font-face {
  font-family: 'roboto reg';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  
}
@font-face {
  font-family: 'roboto bold';
  src: url('../fonts/Roboto-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'roboto light';
  src: url('../fonts/Roboto-Light.ttf') format('opentype');
}

html{
  font-family:"roboto reg","roboto bold","roboto light";
}
body {
  font-family:"roboto reg","roboto bold","roboto light",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 
}


.top-ul{
    float: left;
    width: 100%;
    height: auto;
}
.top-ul ul{
    float: left;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 2px;
    margin: 0px;
}
.top-ul ul li{
    float: left;
    width: auto;
    height: auto;
}
.top-ul ul li a{
    color: #333;
    text-decoration: none;
    padding: 0px 10px;
    border-right: 1px solid;
    font-size: 12px;
}
.top-ul ul li a:hover{
    color: #000;
    text-decoration: none;
}
.btn-a {
    width: 30px;
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 4px;
    margin: 0px;
    height: 22px;
    line-height: 10px;
    color: #333;
    font-size: 12px;
}
.btn-aa {
    width: 30px;
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 4px 4px;
    margin: 0px;
    height: 22px;
    line-height: 10px;
    color: #333;
    font-size: 12px;
}
.btn-aaa {
    width: 30px;
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 4px;
    font-size: 15px;
    padding: 4px 4px;
    margin: 0px;
    height: 22px;
    line-height: 10px;
    color: #333;
    font-size: 12px;
}
#divv { display: none;
    width: calc(100% - 46px);
    float: right;
    position: absolute;
    right: 44px;
    }

.f-c{
  height: 30px;
  border: none;
  border-bottom: 2px solid #ddd !important;
  border-radius: 0px;
}
.f-c-b{
    padding: 0px 4px;
    background-color: transparent;
    border: 0px solid #ddd;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    right: -3px;
    z-index: 100;
    position: absolute;
}

    /* MENU CSS START */
.menu-area{background: #563d7c}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#333;padding:10px 12px 10px 12px;display: block;border-bottom: 2px dashed transparent;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #ffc107;text-decoration: none; background-color: transparent; border-bottom: 2px solid #26a591;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{background: transparent;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: rgba(0,0,0,0.1);}
.mainmenu .collapse ul ul ul > li:hover > a{background: rgba(0,0,0,0.1);}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#0893A9;}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#078498}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 991px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:300px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}


}


.dropdown-menu {
    background-color: #0893A9;
}

.dropdown-toggle::after {

    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: right;
    margin: 10px 10px 0px 10px;

}
.f-s{
    font-size: 14px !important;
}
/* MENU CSS END */


.carousel-inner img {
    width: 100%;
    height: 100%;
}
.btn{
    border-radius: 25px;
}
/* #main_container{
    margin-top: 46px;
} */
#t-menu {
    background-color: #ffffff;
    width: calc(100% + 0px);
    height: auto;
    /* line-height: 50px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
  }
  #nav_div{
    background-color: transparent;
    height: auto;
    margin: 0px 0px;
    width: 100%;
}
#main_container{
    background-color: transparent;
    float: left;
    width: 100%;
}
@media (max-width:991px){
    #nav_div{
        height: 76px;
    }
    .carousel-inner img {
        height: 100%;
    }
    .navbar-collapse {
        overflow: auto;
        height: auto;
        border-bottom: 4px solid #25a08c;
    }
    .hid{
        display: block;
        background-color: #333 !important;
    }
}
.navbar {
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #333;
  border-bottom: 2px solid transparent;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #26a591;
  border-bottom: 2px solid #26a591;
}
.navbar-dark .navbar-toggler {
  color: rgb(0, 0, 0);
border-color: #f8f8f8;
background-color: #ff7918;

}



/* SOCIAL LINK CSS */
a {
    text-decoration: none !important;
    vertical-align: middle;
    /* text-align: center;
    line-height: 3; */

  }
  
  .p {
    color: white;
    position: relative;
    left: -10px;
    font-family: 'Lato';
    text-decoration: none;
    line-height: 3;
    margin-bottom: 5px !important;
  }
#sidebar {
    height: 250px;
    width: 10px;
    position: relative;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    top: 5px;
    z-index: 100;
  }
  
  p i {
    left: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
  }
  
  .social {
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
  }
  
  .social:hover {
    margin-left: -30px;
    width: 230px;
    background-color: #3b5998;
  }
  
  .facebook:hover {
    background-color: #3b5998;
  }
  
  .twitter:hover {
    background-color: #4099FF;
  }
  
  .google:hover {
    background-color: #DD4B39;
  }
  
  .linkedin p i {
    left: 20px;
  }
  
  .google p i {
    left: 35px;
  }
  
  .youtube p i {
    left: 18px;
  }
  
  .youtube:hover {
    background-color: #E52D27;
  }
  
  .linkedin:hover {
    background-color: #0976B4;
  }
  
  .row-bg{
    background-color: #fff !important;
    padding: 20px 0px 50px 0px;
    box-shadow: -13px 6px 13px 0px #ddd;
    margin-bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0) 92%, #999);
  }
  .row-bg-white{
    background-color: transparent !important;
    padding: 20px 0px 50px 0px;
    box-shadow: 0px -2px 6px 0px #ddd;
    margin-bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0) 92%, #999);
  }

  .nav-tabs {
    display:none;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

/* Header logo fixed CSS */

.fixed-menu {
    height: auto;
  }
  .fixed-m {
      display: none;
    /* position: fixed;
    top: 0px;
    border-top: solid 0px #00A9BE;
    z-index: 999;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 4px 2px 3px #818181; */
  }
  .l-m {
    display: none;
  }
  .l-mn {
    display: block;
    padding: 1px 20px 1px 12px;
  }
  @media (min-width:992px) and (max-width:1051px){
    .l-mn {
        display: block;
        padding: 1px 2px 1px 2px;
      }
  }
  @media (max-width:991px){
    .l-mn {
        display: none;
        padding: 1px 2px 1px 2px;
      }
  }
.padd-l{
    padding-left: 15px;
    padding-right: 7px;
}
.padd-m{
    padding-left: 8px;
    padding-right: 7px;
}
.padd-r{
    padding-left: 8px;
    padding-right: 0px;
}
@media (max-width:768px){
    .padd-l{
        padding-left: 15px;
        padding-right: 15px;
    }
    .padd-m{
        padding-left: 15px;
        padding-right: 15px;
    }
    .padd-r{
        padding-left: 15px;
        padding-right: 15px;
    }
}
  .owncard{
    float: left;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 8px 0px #c6c6c6;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .owncard-heading{
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 11px 15px;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
  }
  .owncard-heading:hover{
      color: #ffffff;
    background-color: #17a2b8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .owncard-body{
    float: left;
    width: 100%;
    height: auto;
    padding: 8px 15px;
  }
  .tab-ul{
    width: 100%;
    height: 177px;
    overflow: auto;
  }
  .tab-ul ul{
    float: left;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .tab-ul ul li{
    float: left;
    width: 100%;
    height: auto;
  }
  .tab-ul ul li a{
    color: #3E3D3D;
    background-color: #eee;
    width: 100%;
    float: left;
    padding: 6px 10px;
    margin-bottom: 5px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: rgb(254,254,253);
background: -moz-linear-gradient(left, rgb(254, 254, 253) 0%, rgb(220, 247, 247) 50%, rgb(23, 162, 184) 100%);
background: -webkit-linear-gradient(left, rgba(254,254,253,1) 0%,rgba(220,247,247,1) 50%,rgba(23,162,184,1) 100%);
background: linear-gradient(to right, rgba(254,254,253,0.1) 0%,rgb(220, 247, 247) 50%,rgba(23,162,184,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#17a2b8',GradientType=1 );
border: 1px solid transparent;
  }
  .tab-ul ul li a:hover{
    color: #17A2B8;
    background-color: #eee;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: rgb(254,254,253);
background: -moz-linear-gradient(left, rgba(254,254,253,1) 0%, rgba(220,247,247,1) 50%, rgba(23,162,184,1) 100%);
background: -webkit-linear-gradient(left, rgba(254,254,253,1) 0%,rgba(220,247,247,1) 50%,rgba(23,162,184,1) 100%);
background: linear-gradient(to right, rgba(254,254,253,1) 0%,rgba(220,247,247,1) 50%,rgba(23,162,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#17a2b8',GradientType=1 );
border: 1px solid #e4f6f7;
  }

  .footer-links{
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .footer-links ul{
    float: left;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .footer-links ul li{
    float: left;
    width: 33.33%;
    height: auto;
  }
  .footer-links ul li a{
    width: 100%;
    float: left;
    padding: 3px 0px;
    color: #ccc;

  }
  .footer-links ul li a:hover{
    color: #ffffff;
    width: 100%;
    float: left;
    text-decoration: underline !important;
  }
  @media (min-width:420px) and (max-width:991px){
    .footer-links ul li{
        float: left;
        width: 50%;
        height: auto;
      }  
  }
  @media (max-width:419px){
    .footer-links ul li{
        float: left;
        width: 100%;
        height: auto;
      }  
  }

  /* CHATCH CSS START */
  .fabs {
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0;
    z-index: 998;
    
  }
  
  .fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
    background: #42a5f5;
  }
  
  .fab > i {
    font-size: 2em;
    line-height: 55px;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .fab:not(:last-child) {
    width: 0;
    height: 0;
    margin: 20px auto 0;
    opacity: 0;
    visibility: hidden;
    line-height: 40px;
  }
  
  .fab:not(:last-child) > i {
    font-size: 1.4em;
    line-height: 40px;
  }
  
  .fab:not(:last-child).is-visible {
    width: 40px;
    height: 40px;
    margin: 15px auto 10;
    opacity: 1;
    visibility: visible;
  }
  
  .fab:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
  }
  
  .fab:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
  }
  
  .fab:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
  }
  
  .fab:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  
  .fab:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
  }
  
  .fab(:last-child):active,
  .fab(:last-child):focus,
  .fab(:last-child):hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  }
  /*Chatbox*/
  
  .chat {
    position: fixed;
    right: 85px;
    bottom: 20px;
    width: 400px;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    opacity: 0;
    box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .chat_fullscreen {
      position: fixed;
      right: 0px;
      bottom: 0px;
      top: 0px;
    }
  .chat_header {
        /* margin: 10px; */
      font-size: 13px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #f3f3f3;
      height: 55px;
      background: #42a5f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-top: 8px;
  }
  .chat_header2 {
        /* margin: 10px; */
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }
  .chat_header .span {
    float:right;
  }
  
  .chat_fullscreen_loader {
    display: none;
      float: right;
      cursor: pointer;
      /* margin: 10px; */
      font-size: 20px;
      opacity: 0.5;
      /* padding: 20px; */
      margin: -10px 10px;
  }
  
  .chat.is-visible {
    opacity: 1;
    -webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
  }
  .is-hide{
    opacity: 0
  }
  
  .chat_option {
    float: left;
    font-size: 15px;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: relative;
    margin-right: 10px;
        letter-spacing: 0.5px;
        font-weight: 400
  }
  
  
  .chat_option img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      float: left;
      margin: -30px 20px 10px 20px;
      border: 4px solid rgba(0, 0, 0, 0.21);
  }
  
  .change_img img{
      width: 35px;
      margin: 0px 20px 0px 20px;
  }
  .chat_option .agent {
    font-size: 12px;
      font-weight: 300;
  }
  .chat_option .online{
        opacity: 0.4;
      font-size: 11px;
      font-weight: 300;
  }
  .chat_color {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    float: left;
  }
  
  
  .chat_body {
    background: #fff;
    width: 100%;
  
    display: inline-block;
    text-align: center;
      overflow-y: auto;
  
  }
  #chat_body{
      height: 450px;
  }
  .chat_login p,.chat_body li, p, a{
      -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
  }
  .chat_body p {
    padding: 20px;
    color: #888
  }
  .chat_body a {
    width: 10%;
    text-align: center;
    border: none;
    box-shadow: none;
    line-height: 40px;
    font-size: 15px;
  }
  
  
  
  .chat_field {
    position: relative;
    margin: 5px 0 5px 0;
    width: 50%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: none;
    outline: none;
    display: inline-block;
  }
  
  .chat_field.chat_message {
    height: 30px;
    resize: none;
        font-size: 13px;
      font-weight: 400;
  }
  .chat_category{
    text-align: left;
  }
  
  .chat_category{
    margin: 20px;
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
  }
  
  .chat_category ul li{
      width: 80%;
      height: 30px;
      background: #fff;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      font-size: 13px;
      cursor: pointer;
      line-height: 30px;
      color: #888;
      text-align: center;
  }
  
  .chat_category li:hover{
      background: #83c76d;
      color: #fff;
  }
  .chat_category li.active{
      background: #83c76d;
      color: #fff;
  }
  
  .tags{
   margin: 20px;
      bottom: 0px;
      display: block;
      width: 120%
  }
  .tags li{
      padding: 5px 10px;
      border-radius: 40px;
      border: 1px solid rgb(3, 117, 208);
      margin: 5px;
      display: inline-block;
      color: rgb(3, 117, 208);
      cursor: pointer;
  
  }
  .fab_field {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
  
  }
  .fab_field2 {
      bottom: 0px;
      position: absolute;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
          z-index: 999;
    }
  
  .fab_field a {
    display: inline-block;
    text-align: center;
  }
  
  #fab_camera {
    float: left;
    background: rgba(0, 0, 0, 0);
  }
  
  #fab_send {
    float: right;
    background: rgba(0, 0, 0, 0);
  }
  
  .fab_field .fab {
    width: 35px;
    height: 35px;
    box-shadow: none;
    margin: 5px;
  }
  
  .fab_field .fab>i {
    font-size: 1.6em;
    line-height: 35px;
    color: #bbb;
  }
  .fab_field .fab>i:hover {
    color: #42a5f5;
  }
  .chat_conversion {
  
  }
  
  .chat_converse {
    position: relative;
      background: #fff;
      margin: 6px 0 0px 0;
      height: 300px;
      min-height: 0;
      font-size: 12px;
      line-height: 18px;
      overflow-y: auto;
      width: 100%;
      float: right;
      padding-bottom: 100px;
  }
  .chat_converse2{
        height: 100%;
      max-height: 800px
  }
  .chat_list {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  
  .chat_list .chat_list_item {
    opacity: 0;
    visibility: hidden;
  }
  
  .chat .chat_converse .chat_msg_item {
    position: relative;
    margin: 8px 0 15px 0;
    padding: 8px 10px;
    max-width: 60%;
    display: block;
    word-wrap: break-word;
    border-radius: 3px;
    -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    clear: both;
    z-index: 999;
  }
  .status {
      margin: 45px -50px 0 0;
      float: right;
      font-size: 11px;
      opacity: 0.3;
  }
  .status2 {
      margin: -10px 20px 0 0;
      float: right;
      display: block;
      font-size: 11px;
      opacity: 0.3;
  }
  .chat .chat_converse .chat_msg_item .chat_avatar {
    position: absolute;
    top: 0;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_admin .chat_avatar {
    left: -52px;
    background: rgba(0, 0, 0, 0.03);
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_user .chat_avatar {
    right: -52px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .chat .chat_converse .chat_msg_item .chat_avatar, .chat_avatar img{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_admin {
    margin-left: 60px;
    float: left;
    background: rgba(0, 0, 0, 0.03);
    color: #666;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_user {
    margin-right: 20px;
    float: right;
    background: #42a5f5;
    color: #eceff1;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_admin:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -12px;
    z-index: 998;
    border: 6px solid transparent;
    border-right-color: rgba(255, 255, 255, .4);
  }
  
  .chat_form .get-notified label{
      color: #077ad6;
      font-weight: 600;
      font-size: 11px;
  }
  
  input {
    position: relative;
    width: 90%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    outline: none;
    background: #fff;
    display: inline-block;
    resize: none;
    padding: 5px;
    border-radius: 3px;
  }
  .chat_form .get-notified input {
    margin: 2px 0 0 0;
    border: 1px solid #83c76d;
  }
  .chat_form .get-notified i {
      background: #83c76d;
      width: 30px;
      height: 32px;
      font-size: 18px;
      color: #fff;
      line-height: 30px;
      font-weight: 600;
      text-align: center;
      margin: 2px 0 0 -30px;
      position: absolute;
      border-radius: 3px;
  }
  .chat_form .message_form {
    margin: 10px 0 0 0;
  }
  .chat_form .message_form input{
    margin: 5px 0 5px 0;
    border: 1px solid #e0e0e0;
  }
  .chat_form .message_form textarea{
    margin: 5px 0 5px 0;
    border: 1px solid #e0e0e0;
    position: relative;
    width: 90%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    outline: none;
    background: #fff;
    display: inline-block;
    resize: none;
    padding: 5px;
    border-radius: 3px;
  }
  .chat_form .message_form button{
      margin: 5px 0 5px 0;
      border: 1px solid #e0e0e0;
      position: relative;
      width: 95%;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      outline: none;
      background: #fff;
      display: inline-block;
      resize: none;
      padding: 5px;
      border-radius: 3px;
      background: #83c76d;
      cursor: pointer;
  }
  strong.chat_time {
    padding: 0 1px 1px 0;
    font-weight: 500;
    font-size: 8px;
    display: block;
  }
  
  /*Chatbox scrollbar*/
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  /*Element state*/
  
  .is-active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  
  .is-float {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  }
  
  .is-loading {
    display: block;
    -webkit-animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
    animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
  }
  /*Animation*/
  
  @-webkit-keyframes zoomIn {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes load {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    50% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes load {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    50% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  /* SMARTPHONES PORTRAIT */
  
  @media only screen and (min-width: 300px) {
    .chat {
      width: 250px;
    }
  }
  /* SMARTPHONES LANDSCAPE */
  
  @media only screen and (min-width: 480px) {
    .chat {
      width: 300px;
    }
    .chat_field {
      width: 65%;
    }
  }
  /* TABLETS PORTRAIT */
  
  @media only screen and (min-width: 768px) {
    .chat {
      width: 300px;
    }
    .chat_field {
      width: 65%;
    }
  }
  /* TABLET LANDSCAPE / DESKTOP */
  
  @media only screen and (min-width: 1024px) {
    .chat {
      width: 300px;
    }
    .chat_field {
      width: 65%;
    }
  }
  /*Color Options*/
  
  
  
  .blue .fab {
    background: #42a5f5;
    color: #fff;
  }
  
  
  
  .blue .chat {
    background: #42a5f5;
    color: #999;
  }
  
  
  /* Ripple */
  
  .ink {
    display: block;
    position: absolute;
    background: rgba(38, 50, 56, 0.4);
    border-radius: 100%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    webkit-transform: scale(0);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  /*animation effect*/
  
  .ink.animate {
    -webkit-animation: ripple 0.5s ease-in-out;
            animation: ripple 0.5s ease-in-out;
  }
  
  @-webkit-keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    
    100% {
      opacity: 0;
      -moz-transform: scale(5);
      -ms-transform: scale(5);
      webkit-transform: scale(5);
      -webkit-transform: scale(5);
              transform: scale(5);
    }
  }
  
  @keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    
    100% {
      opacity: 0;
      -moz-transform: scale(5);
      -ms-transform: scale(5);
      webkit-transform: scale(5);
      -webkit-transform: scale(5);
              transform: scale(5);
    }
  }
  ::-webkit-input-placeholder { /* Chrome */
    color: #bbb;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #bbb;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #bbb;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #bbb;
  }
  /* CHATCH CSS END */













  .instructions {
    text-align:center;
    font-size:20px;
    margin: 15vh;
  }  
  
  /* //////////////////////////////////////////////////////////////////////////////////////////////
      //   Default Modal Styles   //
  ////////////////////////////////////////////////////////////////////////////////////////////// */
  /*   This is the background overlay   */
  .backgroundOverlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background: #000000;
      opacity: .85;
      filter: alpha(opacity=85);
      -moz-opacity: .85;
      z-index: 101;
      display: none;
  }
  /*   This is the Popup Window   */
  .delayedPopupWindow {
      display: none;
      position: fixed;
      width: auto;
      max-width: 480px;
      height: 310px;
      top: 50%;
      left: 50%;
      margin-left: -260px;
      margin-top: -180px;
      background-color: #efefef;
      border: 2px solid #333;
      z-index: 102;
      padding: 10px 20px;
  }
  /*   This is the closing button  */
  #btnClose {
      width:100%;
      display: block;
      text-align: right;
      text-decoration: none;
      color: #BCBCBC;
  }
  /*   This is the closing button hover state  */
  #btnClose:hover {
      color: #c90c12;
  }
  /*   This is the description headline and paragraph for the form   */
 



  footer{
    float: left;
    width: 100%;
    height: auto;
    /* position: fixed;
    bottom: 0px; */
}
footer ul{
    float: left;
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
footer ul li{
    width: auto;
    height: auto;
    display: inline-block;
    color: #fff;
}
footer ul li a{
    width: auto;
    height: auto;
    padding: 8px 12px;
    color: aliceblue;
}
footer ul li a:hover{
  color: #eeeeee;
}

.card-header {
  border-bottom: 1px solid #fff;
}

.card-ul{
  float: left;
  width: 100%;
  height: auto;
}
.card-ul ul{
  float: left;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  list-style-image: url('../images/arrow-hd.png');
}

.card-ul li{
  float: left;
  width: 100%;
  height: auto;
}

.card-ul li a{
  color: #545454;
  padding: 5px 8px 10px 8px;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ddd;
  line-height: 18px;
  font-size: 14px;
  }

.card-ul li a:hover{
  color: #ff7918;
  border-bottom: 1px dashed #ff7918;
}

.aa{
  color: #fff;
    padding: 10px 10px;
    float: left;
    width: 100%;
    background-color: #26a591;
}
.aa:hover{
  color: #26a591;
    padding: 10px 10px;
    float: left;
    width: 100%;
    background-color: #eee;
}
.aaa{
  color: #fff;
    padding: 10px 10px;
    float: left;
    width: 100%;
    background-color: #FF7917;
}
.aaa:hover{
  color: #FF7917;
    padding: 10px 10px;
    float: left;
    width: 100%;
    background-color: #eee;
}
.hon-h{
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 10px;
}
.hon-img{
  text-align: center;
padding: 8px;
border-bottom: 1px solid #eee;
}
.hon-l-img{
  float: left;
width: calc(50% - 2px);
height: auto;
border-right: 1px solid #eee;
text-align: center;
padding: 8px 0px;
}
.hon-r-img{
  float: left;width: 50%;height: auto;text-align: center;padding: 8px 0px;
}

.rl{
  float: left;
  width: 100%;
  height: auto;
}
.rl ul{
  float: left;
  width: 100%;
  height: auto;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.rl ul li{
  width: auto;
  height: auto;
  display: inline-block;
}
.rl ul li a{
  width: auto;
height: auto;
padding: 20px 12px 0px 12px;
color: #08c;
float: left;
font-size: 12px;
}
.rl ul li a:hover{
  text-decoration: underline;
}