@charset "utf-8";
/* CSS Document */

.header-background{
	min-height:90px;
	background:url(../images/header-background.png) repeat;
	/*background-color: #ff8019;*/
	}
	
.page-background{
	min-height: 438px;
	background: url(../images/chi-banner.jpg) no-repeat;
	background-size: 100% 100%;
	}
	
.btn-warning {
    color: #fff;
    background-color: #A30A0C;
    border-color: #A30A0C;
    font-weight: bold !important;
}	

.btn-warning:hover {
    color: #fff;
    background-color: #ef6500;
    border-color: #ef6500;
}
	
@media (min-width:0px) and (max-width:767px){
	
	.page-background{
	min-height: 438px;
	background: url(../images/chi-banner.jpg) no-repeat;
	background-size: 160% 100%;
	}	
	
	}		
	
.login-background{
	min-height: 90px;
	background: url(../images/login-background.png) no-repeat;
	background-size: 100% 100%;
	margin:0px -15px;
	}	
	
.inp-textear{
	display: block;
	width: 100%;
	min-height: 34px;
	padding: 6px 12px;
	font-weight:500;
	line-height: 1.42857143;
	color: #555;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-bottom: 1px solid #21607f;
	}

.inp-textear:focus {
	border-color: #286090;
	outline: 0;
	border-left:0px solid #21607f;
	border-right:0px solid #21607f;
	border-bottom: 2px solid #21607f;
	background-color:rgba(255,255,255, 0.0);
	border-radius:0px;
	-webkit-transition:  1s; /* Safari */
    transition:  1s;
	 
	}	
	
.label-color{
	color:#175a7c;
	}	


.navbar-inverse {
    background-color: #808080;
    border-color: #808080;
}

.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
	font-size:14px;
	font-weight:bold;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #A30A0C;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #656565;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #656565;
}

.dropdown-menu {
    background-color: #808080  !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #A30A0C;
}

.dropdown-menu > li > a {
    color: #ddd !important;
}

.navbar-nav > li {
    border-left: 2px solid 151515;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}

 .navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px !important;
    font-size: 18px;
    line-height: 20px;
}
	
/*Download CSS*/
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:0px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }
   
  

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
} 

/*Back to Top & Fixed Menu*/

#back-to-top {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
}
#back-to-top a {
  text-align: center;
  text-decoration: none;
  color: #d1d1d1;
  display: block;
  width: 55px;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
}
#back-to-top a:hover {
  color: #979797;
}
#back-to-top a span {
  background: #d1d1d1;
  border-radius: 6px;
  display: block;
  height: 55px;
  width: 55px;
  background: #d1d1d1 url(images/arrow-up.png) no-repeat center center;
  margin-bottom: 5px;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
}
#back-to-top a:hover span {
  background: #979797 url(images/arrow-up.png) no-repeat center center;
}

.fixed-menu {
  height: auto;
}
.fixed-m {
  position: fixed;
  top: 0px;
  border-top: solid 0px #fe740f;
  z-index: 99;
  background-color: #fe740f;
  width: 100%;
}
.fixed-logo {
  height: auto;
  display: none;
}
.fixed-l {
  position: relative;
  top: 0px;
  border-top: solid 0px red;
  z-index: 100;
  background-color:transparent;
  width: auto;
  display: block;
}

.main-div{
	margin-top:5px;
	}
	
.m-div{
	margin-top:32px;
	}	 	
	
	
	
/*Select*/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color;
	}
	
.bootstrap-select > .btn {
    width: 100%;
    padding-right: 25px;
    background-color: transparent;
    border-radius: 0px;
	border-color:#21607f;
}	

.lable-marging-top{
	margin-top: 6px;
	font-weight: 500;
	}
	
.patti{
	float:left;
	width:100%;
	min-height:32px;
	line-height:32px;
	padding:0px 15px;
	background-color:#F5F5F5;
	border:1px solid #ddd;
	}	
	
input[type="checkbox"], input[type="radio"] {
    margin: 10px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

/*Stapes CSS*/

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 98%;
    position: relative;
	padding:0px 1%;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.panel-default>.panel-heading {
    background-color: #9E9E9E;
  }

.form-inline .form-control
{
  width : 96%;
  height: 25px;
  padding: 4px 12px;
  font-size: 12px;
}
.form-control
{
  width : 96%;
  height: 25px;
  padding: 4px 12px;
  font-size: 12px;
}

.export_button
{
    position: absolute;
    top: 0;
    right: 20px;
    border : 0;
}

.list_page_icon_big
{
    position: absolute;
    top: 20px;
    right: 60px;
}
.list_page_icon_small
{
    position: absolute;
    right: 45px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.table-hover>tbody>tr:hover {
    background-color: #EB984E;
}